// Body
body {
	font-family: serif;
	font-weight: 400;
	font-size: 16px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Wrapper
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	overflow: hidden;
}

.main {
	flex-grow: 1;
}

// Container
.container {
	margin: 0 auto;

	max-width: 1830px;
	padding: 0 15px;
}

.container-lg {
	margin: 0 auto;

	max-width: 1730px;
	padding: 0 15px;
}

.disable-vertical-scroll {
	overflow: hidden !important;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.bordered {
	border: 1px solid #d2d2d2;
	border-radius: 7px;
}

.rhombus-card {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		z-index: 0;
		width: 70px;
		height: 70px;
		transform: rotate(45deg);
		overflow: hidden;
		border-radius: 8px;
		background-color: rgba(247, 247, 247, 1);

		top: 43px;
		left: -51px;
	}
}

.parent-border {
	position: relative;
	overflow: visible;
	&::before {
		content: '';
		position: absolute;
		z-index: 1;
		width: 60px;
		height: 60px;
		transform: rotate(45deg);
		overflow: hidden;
		border-radius: 1px;
		background-color: #f7f7f7;
		border: 1px solid #c9c9c9;
		border-left-color: rgba(247, 247, 247, 1);
		border-bottom-color: rgba(247, 247, 247, 1);
		top: 43px;
		left: -31px;
		border-top-right-radius: 10px;
	}
}

.child-border {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		z-index: 0;
		width: 67px;
		height: 60px;
		transform: rotate(45deg);
		overflow: hidden;
		border-radius: 1px;
		background-color: #f7f7f7;
		top: 29px;
		left: -35px;
		border-top-right-radius: 10px;
	}
}
