<header class="header">
	<div class="header__container container">
		<!-- Logo -->
		<div class="header__left">
			<a width="" height="" href="#" class="header__logo"
				><img src="assets/img/logo.svg" alt="logo"
			/></a>
			<div class="header__desc">
				Грузоперевозки по Москве и Московской области
			</div>
		</div>
		<!-- Logo -->

		<div class="header__navigation">
			<nav class="nav header__nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link">Услуги</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Акции</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Отзывы</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Вакансии</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">О нас</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link">Контакты</a>
					</li>
				</ul>
			</nav>
			<div class="header__buttons">
				<a href="tel:+88007007415" class="header__phone">
					<span class="phone-text">Перезвоним вам через 30 секунд</span>
					<span class="number-text">8 800 700 74 15</span>
				</a>
				<button class="header__btn img-btn">
					<div class="button-text">Написать в whatsapp</div>
				</button>
			</div>
		</div>
		<div class="header__right">
			<a href="tel:+88007007415" class="header-mobile phone-text">
				8 800 700 74 15
			</a>
			<!-- Burger -->
			<div class="burger">
				<span></span>
			</div>
		</div>
		<!-- Burger -->
	</div>
</header>
