<section class="hero">
	<div class="hero__container container">
		<div class="hero__inner">
			<div class="hero__left">
				<h1 class="hero__title">Вызов эвакуатора в&nbsp;Санкт-Петербурге</h1>
				<div class="hero__desc">Быстро и дёшево</div>
				<ul class="hero__items">
					<li class="hero__item">
						<div class="hero__item-icon">
							<img src="assets/img/hero/icon.png" />
						</div>
						<div class="hero__item-text">
							Подача от 15 минут
							<span class="hero__item-text-bold">в любом районе</span>
						</div>
					</li>
					<li class="hero__item">
						<div class="hero__item-icon">
							<img src="assets/img/hero/icon.png" />
						</div>
						<div class="hero__item-text">
							Круглосуточно <span class="hero__item-text-bold">24/7</span>
						</div>
					</li>
					<li class="hero__item">
						<div class="hero__item-icon">
							<img src="assets/img/hero/icon.png" />
						</div>
						<div class="hero__item-text">
							Цена от <span class="hero__item-text-bold">1300 рублей</span>
						</div>
					</li>
				</ul>
				<div class="hero__btn">Вызвать эвакуатор</div>
			</div>
			<div class="hero__right">
				<form action="#" class="hero__form form">
					<div class="form__inner">
						<div class="form__top">
							<div class="form__item flex-column">
								<div class="form__question">Что перевести?</div>
								<div class="select">
									<div class="select-toggle bordered">
										<div class="select-text">Выбрать</div>
										<div class="select-icon"></div>
									</div>
									<div class="select-menu">
										<ul class="select-items">
											<li class="select-item">Prettier</li>
										</ul>
										<ul class="select-items">
											<li class="select-item">Prettier</li>
										</ul>
										<ul class="select-items">
											<li class="select-item">Prettier</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="form__item">
								<div class="form__question">Руль заблокирован?</div>
								<div class="form__answers">
									<div class="form__answer">
										<input
											type="radio"
											name=""
											id="rule-1"
											class="form__field"
										/>
										<label for="rule-1" class="form__select">Да</label>
									</div>
									<div class="form__answer">
										<input
											type="radio"
											name=""
											id="rule-2"
											class="form__field"
										/>
										<label for="rule-2" class="form__select">Нет</label>
									</div>
								</div>
							</div>
						</div>

						<div class="form__item">
							<div class="form__question">Заблокировано колес</div>
							<div class="form__answers">
								<div class="form__answer">
									<input
										type="radio"
										name=""
										id="option-0"
										class="form__field"
									/>
									<label
										for="option-0"
										class="form__select form__select-secondary"
										>0</label
									>
								</div>
								<div class="form__answer">
									<input
										type="radio"
										name=""
										id="option-1"
										class="form__field"
									/>
									<label
										for="option-1"
										class="form__select form__select-secondary"
										>1</label
									>
								</div>
								<div class="form__answer">
									<input
										type="radio"
										name=""
										id="option-2"
										class="form__field"
									/>
									<label
										for="option-2"
										class="form__select form__select-secondary"
										>2</label
									>
								</div>
								<div class="form__answer">
									<input
										type="radio"
										name=""
										id="option-3"
										class="form__field"
									/>
									<label
										for="option-3"
										class="form__select form__select-secondary"
										>3</label
									>
								</div>
								<div class="form__answer">
									<input
										type="radio"
										name=""
										id="option-4"
										class="form__field"
									/>
									<label
										for="option-4"
										class="form__select form__select-secondary"
										>4</label
									>
								</div>
							</div>
						</div>
						<div class="form__item form__field-wrapper">
							<textarea
								placeholder="Оставить комментарий водителю"
								name=""
								id="text"
							></textarea>
						</div>
						<div class="form__item form__bottom">
							<div class="form__price">
								<div class="form__price-price">Цена от 1300р*</div>
								<div class="form__price-desc">в рамках района</div>
							</div>
							<button class="form__btn" type="submit">Оставить заявку</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
