.hero {
	// .hero__container
	padding: 20px 0 0;

	&__container {
	}

	&__inner {
		position: relative;

		display: flex;
		justify-content: space-between;
		gap: 20px;

		padding: 150px 0;

		border-radius: 18px;
		overflow: hidden;
		background: url('../img/hero/bg.jpg') no-repeat center/cover;

		@media screen and (max-width: 1200px) {
			flex-direction: column;
			align-items: center;
			padding: 50px 20px;
		}
	}

	// .hero__left

	&__left {
		position: relative;
		z-index: 1;
		padding-left: 180px;

		@media screen and (max-width: 1700px) {
			padding-left: 50px;
		}

		@media screen and (max-width: 1200px) {
			padding-left: 0;
		}
	}

	// .hero__title

	&__title {
		margin-bottom: 18px;

		max-width: 710px;

		color: #fff;
		font-family: Montserrat;
		font-size: 68px;

		font-weight: 600;
		line-height: 118%;
		letter-spacing: -1.36px;

		@media screen and (max-width: 1400px) {
			font-size: 40px;
		}

		@media screen and (max-width: $tablet) {
			font-size: 29px;
			letter-spacing: -0.58px;
			margin-bottom: 5px;
		}
	}

	// .hero__desc

	&__desc {
		margin-bottom: 20px;

		color: #fff;
		font-family: Montserrat;
		font-size: 45px;
		font-weight: 400;
		max-width: 400px;
		line-height: 138%;
		letter-spacing: -0.9px;
		@media screen and (max-width: $tablet) {
			letter-spacing: -0.4px;
			font-size: 20px;
		}
	}

	// .hero__items

	&__items {
		margin-left: -20px;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	// .hero__item

	&__item {
		display: flex;
		align-items: center;
	}

	// .hero__item-icon

	&__item-icon {
		flex-shrink: 0;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			width: 90px;
			height: 50px;
		}
	}

	// .hero__item-text

	&__item-text {
		color: #fff;
		font-family: HelveticaNeueCyr;
		font-size: 23px;
		font-weight: 300;
		line-height: 118%;
		@media screen and (max-width: $tablet) {
			font-size: 14px;
		}
	}

	&__item-text-bold {
		font-family: HelveticaNeueCyr;
		font-size: 23px;
		font-weight: 500;
		line-height: 118%;
		@media screen and (max-width: $tablet) {
			font-size: 14px;
		}
	}

	// .hero__btn

	&__btn {
		display: grid;
		place-items: center;
		position: relative;

		margin-top: 26px;

		max-width: 334px;
		min-height: 86px;
		width: 100%;

		color: #161616;
		font-family: HelveticaNeueCyr;
		font-size: 27px;
		font-weight: 400;

		border-radius: 77px;
		background: #e8d31b;
		cursor: pointer;

		border: 2px solid #f4ea91;

		@media screen and (max-width: 1200px) {
			margin-inline: auto;
		}
		@media screen and (max-width: $tablet) {
			margin-bottom: 44px;

			max-width: 304px;
			min-height: 70px;
			font-size: 20px;
		}

		&:active {
			scale: 0.97;
			&::before,
			&::after {
				display: none;
			}
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			border-radius: inherit;
			width: 100%;
			height: 100%;
		}

		&::before {
			top: 6px;
			z-index: -1;
			background-color: #e5cf5e;
		}
		&::after {
			top: 10px;
			z-index: -2;
			background-color: #dcc54a;
		}
	}

	// .hero__right

	&__right {
		flex-shrink: 0;
		padding: 20px 190px 0 0;
		position: relative;
		z-index: 1;
		@media screen and (max-width: 1700px) {
			padding-right: 50px;
		}
		@media screen and (max-width: 1200px) {
			padding-right: 0;
		}
	}

	// .hero__form

	&__form {
	}
}
.form {
	position: relative;

	padding: 37px 48px 50px 52px;

	max-width: 610px;
	width: 100%;

	border-radius: 8px;
	background-color: #fbfbfa;

	@media screen and (max-width: 1400px) {
		padding-inline: 30px;
	}
	@media screen and (max-width: $tablet) {
		padding-inline: 20px;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		border-radius: 10px;
		opacity: 0.8;
	}

	&::before {
		inset: -7px;
		background-color: #fff;
	}
	&::after {
		inset: -13px;
		border: 1px solid rgba(226, 226, 226, 0.5);
	}

	&__inner {
		position: relative;
		z-index: 1;
	}

	&__top {
		margin-bottom: 28px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 20px;
	}

	// .form__question

	&__question {
		margin-bottom: 16px;

		color: #686868;
		font-family: HelveticaNeueCyr;
		font-size: 16px;
		font-weight: 500;
		line-height: 104%;
		letter-spacing: -0.32px;

		@media screen and (max-width: $tablet) {
			font-size: 12px;
			letter-spacing: -0.24px;
		}
	}

	// .form__answers

	&__answers {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 20px;
		@media screen and (max-width: $tablet) {
			gap: 15px;
		}
	}

	&__field {
		display: none;
		&:checked ~ label {
			background-color: #f9eb70;
			padding-left: 25px;
			&::before {
				background-color: #f6df69;
			}
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__text-field {
		padding: 21px 75px 100px 32px;

		height: 100%;
		width: 100%;
		outline: none;
	}

	&__select {
		position: relative;
		display: grid;
		place-items: center;

		width: 112px;
		min-height: 56px;

		transition: background-color 150ms ease-in-out;
		background-color: #cbcbcb;

		border-radius: 100px;
		cursor: pointer;

		color: #000;
		font-family: Montserrat;
		font-size: 25.762px;
		font-weight: 600;
		line-height: 138%;
		letter-spacing: -0.515px;

		@media screen and (max-width: $tablet) {
			width: 102px;
			min-height: 44px;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
		}

		&::after {
			z-index: 1;
			top: 50%;
			left: 20px;
			transform: translateY(-50%);
			opacity: 0;
			visibility: hidden;

			width: 20px;
			height: 20px;

			background: url('../img/hero/correct.png') no-repeat center/cover;
		}

		&::before {
			transition: background-color 150ms ease-in-out;
			width: 100%;
			height: 100%;
			top: 4px;
			border-radius: 100px;
			background-color: #bfb7b7;
			z-index: -1;
		}
	}

	&__select-secondary {
		width: 86px;
		min-height: 55px;
		@media screen and (max-width: $tablet) {
			width: 78px;
			min-height: 44px;
		}
	}

	// .form__bottom

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 30px;
	}

	// .form__price

	&__price {
		display: flex;
		flex-direction: column;
	}

	// .form__price-price

	&__price-price {
		color: #191919;
		font-family: Montserrat;
		font-size: 22px;
		font-weight: 600;
		line-height: 24.857px;
		letter-spacing: -0.262px;
	}

	// .form__price-desc

	&__price-desc {
		color: #686868;
		font-family: HelveticaNeueCyr;
		font-size: 16px;
		font-weight: 550;
		line-height: 104%;
		letter-spacing: -0.32px;
	}

	// .form__btn

	&__btn {
		position: relative;
		color: #216d39;
		text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.3);
		max-width: 294px;

		width: 100%;
		min-height: 88px;
		display: grid;
		place-items: center;
		border-radius: 68px;
		background: #76e48d;
		font-size: 23px;
		font-weight: 400;
		box-shadow: 0px 11px 19px -1px rgba(34, 60, 80, 0.5);

		@media screen and (max-width: 1400px) {
			max-width: 240px;
			font-size: 20px;
			min-height: 80px;
		}

		&:active {
			scale: 0.98;
			&::before {
				display: none;
			}
			&::after {
				display: none;
			}
		}

		border: 2px solid rgba(204, 245, 212, 0.7);

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: inherit;
		}

		&::before {
			z-index: -1;
			background-color: #85ee9b;
			top: 5px;
		}
		&::after {
			z-index: -2;
			background-color: #79d68d;
			top: 7px;
		}
	}
}

.select {
	position: relative;
	min-width: 233px;
	width: 100%;
}
.select.active .select-menu {
	display: flex;
	opacity: 1;
	visibility: visible;
}

.select-menu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	background-color: #fff;
	z-index: 2;
	top: calc(100%);
	display: none;
	flex-direction: column;
	font-size: 20px;
	width: 100%;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	border: 1px solid #d2d2d2;
	border-radius: 7px;
}

.select-toggle {
	cursor: pointer;
	display: flex;
	justify-content: space-between;

	padding-left: 22px;
}
.select-text {
	padding-top: 17px;
	padding-bottom: 19px;
	color: #191919;
	font-family: Montserrat;
	font-size: 26px;
	overflow: hidden;
	@media screen and (max-width: $tablet) {
		font-size: 16px;
		line-height: 24.857px;
		letter-spacing: -0.262px;
		padding: 12px 0;
	}
	font-style: normal;
	font-weight: 600;
	line-height: 24.857px; /* 95.605% */
	letter-spacing: -0.262px;
}
.select-icon {
	position: relative;
	width: 55px;
	border-left: 1px solid #d2d2d2;

	&::before {
		content: '';
		position: absolute;
		@include center;
		width: 16px;
		height: 10px;
		background: url('../img/hero/selectArrow.svg') no-repeat center/cover;
	}
}

.select-items {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 5px;
}
.select-item {
	border-radius: 5px;
	padding: 5px 20px;
	display: block;
	cursor: pointer;
	transition:
		background-color 150ms ease,
		color 150ms ease;
	@include hover {
		background-color: #a4a4a4;
		color: #fff;
	}
}

#text {
	margin-top: 40px;
	margin-bottom: 20px;

	padding-top: 21px;
	padding-left: 32px;
	padding-right: 20px;
	min-height: 110px;
	resize: none;
	width: 100%;
	border: none;
	outline: none;

	border: 1px solid #d2d2d2;
	border-radius: 7px;
	font-size: 20px;
	color: #000;
	&::placeholder {
		color: #a4a4a4;
		font-family: Montserrat;
		font-size: 22px;
		@media screen and (max-width: $tablet) {
			font-size: 16px;
		}
		font-style: normal;
		font-weight: 500;
		line-height: 1;
		letter-spacing: -0.262px;
	}
}

.price-text {
	color: #69c77d;
}
